*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  background-color: #ffffff;
}

main {
  width: 100%;
}

.hero {
  background-color: #23424a;
  padding: 8rem 0 10rem;
}

.inner-container {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
}

.hero-inner {
  width: 100%;
}

@media (min-width: 768px) {
  .hero-inner {
    width: 60%;
  }
}

.hero h1 {
  font-size: 48px;
  font-weight: 900;
  line-height: 56px;
  margin: 0.25em 0 0.5em;
}

.hero p {
  font-weight: normal;
  line-height: 1.75em;
  font-size: 20px;
  margin-bottom: 3.75em;
  color: #f2f2f2f1;
}

.hero .button {
  border: 1px solid #38cfd9;
  border-radius: 35px;
  background-color: #38cfd9;
  padding: 1em 2.25em;
  color: #072a2d;
  letter-spacing: 0.05em;
  font-size: 21px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.hero .button:hover,
.hero .button.focus {
  opacity: 0.75;
}
